<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   </head>

   <body>
      <section>
         <div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <div class="container-fluid">
                  {{!-- <a class="navbar-brand" href="#">FIT & FOOD</a> --}}
                  <img src="/images/homepage/fit-and-food.png" alt="Fit and Food Logo" width="100px">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Recipes</a></li>
                           {{!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <li><a class="dropdown-item" href="#">Action</a></li>
                                 <li><a class="dropdown-item" href="#">Another action</a></li>
                                 <li><hr class="dropdown-divider"></li>
                                 <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul> --}}
                        <li class="nav-item"><a class="nav-link" href="#">Fun facts about food</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Food events</a></li>
                     </ul>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                           {{#if true}}
                              <a href="/new-recipe"><button class="btn btn-primary" type="button">Create a new recipe</button></a>
                              <a href="/users"><button class="btn btn-primary" type="button">My profile</button></a>
                              <a href="/auth/login"><button class="btn btn-primary" type="button">Login</button></a>
                              <a href="/auth/signup"><button class="btn btn-primary" type="button">Signup</button></a>
                           {{/if}}
                        </div>
                  </div>
               </div>
            </nav>
            <div>
               <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search for recipes" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
               </form>
            </div>
         </div>
      </section>

      <section>
         {{{body}}}
      </section>

      {{!-- https://mdbootstrap.com/docs/standard/navigation/footer/ --}}
      <footer class="bg-light text-center text-lg-start">
         <div class="container p-4 pb-0">
            <form action="">
               <div class="row">
                  <div class="col-auto mb-4 mb-md-0">
                     <p class="pt-2">
                        <strong>Sign up for our newsletter</strong>
                     </p>
                  </div>
                  <div class="col-md-5 col-12 mb-4 mb-md-0">
                     <div class="form-outline mb-4">
                        <input type="email" id="form5Example25" class="form-control" />
                     </div>
                  </div>
                     <div class="col-auto mb-4 mb-md-0">
                        <button type="submit" class="btn btn-primary mb-4">Subscribe</button>
                     </div>
                  </div>
            </form>
         </div>
         <!-- Copyright -->
         <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">fitandfood.com</a>
         </div>
      </footer>

      <script src="/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   </body>

</html>
