
{{!-- nav-bar --}}
<section>
    <div>
        <button type="button" class="btn btn-elegant"><i class="far fa-user pr-2" aria-hidden="true"></i>User</button>
        <button><a href="/login">Login</a></button>
        <button><a href="/signup">Signup</a></button>
        <button><a href="/new-recipe">Create a new recipe</a></button>
    </div>
    <h1>Fit & Food</h1>
    <div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Recipes</li>
                <li>Fun Facts about Food</li>
                <li>Events</li>
            </ul>
        </nav>
    </div>
</section>

<section>
    {}
</section>

<section>
    <p>Subscribe to receive recipes from over the world for FREE!</p>
    <form action="">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="subscribe-name" required="required" placeholder="Your name">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="subscribe-email" required="required" placeholder="Your email address">
            </div>
        </div>
    </form>
</section>
<footer>
    <p>Copyright {{getCurrentYear}}</p>
</footer>
