@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins&display=swap');
body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: chocolate;
    border-color: chocolate;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: white;
    background-color: chocolate;
}

a {
    color: #00b7ff;
}

h1 {
    margin: 2em;
    text-align: center;
}

.recipe-picture {
    width: 500px
}

.recipe-card h1,
h3 {
    font-family: 'Marcellus', serif;
}

.new-recipe label {
    font-size: 18px
}

.search {
    margin: 4em
}

.carousel img {
    height: auto;
}

.grid-recipes .col {
    margin-bottom: 10px;
}

.grid-recipes .card-title {
    margin: 0;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    margin-top: 15em;
}