@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins&display=swap');
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

h1 {
    color: 15px;
}

.recipe-picture {
    width: 500px
}

.recipe-card h1,
h3 {
    font-family: 'Marcellus', serif;
}

.search-bar{
    margin: 20px 0px;
}

.recipes-in-search{
    background-color: #ddf1f4;
    padding: 15px 0px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.recipes-in-search a{
    text-decoration: none;
    color: black;
}

.recipes-in-search p{

    padding-left: 10px;
}


/* .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */